.banner{
  background: url(../public/images/banner_bg.jpg);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 100vh;
  position: relative;
  overflow: hidden;
}