/* Loading.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loading-ball {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
}
